#cabecera-page{
    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-image: url("../img/header_top_img.png");
    transition: all 1s ease;
}
#cabecera-arriba {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    padding: 1% 1% 1% 1%;
    background-color: rgb(0 0 0 / 75%);
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}
#show-menu-top {
    position: absolute;
    top: 34px;
    right: 1.6%;
    width: fit-content;
    padding: 22px !important;
    display: none !important;
    visibility: hidden !important;
    background-color: rgb(0 0 0 / 70%);
}
#redes-sociales{
    position: fixed;
    width: fit-content;
    height: fit-content;
    left: 4vh;
    top: 35%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 999999;
}
#redes_sociales a:nth-child(5) {
    margin-left: 4px !important;
}
#menu-img{
    padding: 2px 15px 2px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-img:hover{
    cursor: pointer;
}
#menu-img:hover > #disp-men-re-es{
    display: block !important;
    visibility: inherit !important;
}
#seguir-span{
    font-family: brandon-grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #7E7E7E;
    transform: rotate(90deg) !important;
    grid-row: 1/2;
    margin: 0 0 75px -27px;
}
#seguir-linea{
    width: 60px;
    height: 0px;
    border: 1px solid #7E7E7E;
    transform: rotate(90deg) !important;
    margin: 0 0 50px -23px;
}